body{

 background-image: url("https://imagenes.elpais.com/resizer/hAha099uGI7HWlJh9iunniCJ07Q=/1960x1470/cloudfront-eu-central-1.images.arcpublishing.com/prisa/2MRLAMWNLJE3TBYELF4EGKKREQ.jpg");

}

img{

padding-left: 1000px;
width: 250px;
border-radius: 4px;
height: 100px;

}
.divCol{

background-color:  #154360;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
 opacity: 0.80;


}
.ne{
    font-weight: bold;
}
.divCol2{

background-color:  #154360;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-radius: 10px;
 opacity: 0.80;
 padding-left: 450px;


}


.inpGr{

height: 30px;
width: 200px;

}

.centrar2{
padding-left: 100px;
padding-top: 100px;

}

.centrar3{
padding-left: 300px;

}

.buttong{
background-color: #34495e;
padding: 10px;
color: white;
border-radius: 10px;
font-weight: bold;

}

.formular{

margin: 0 auto;
background-color: #1f3b6c;
height: 600px;
width: 600px;
border-radius: 10px;

}

label{

font-size: 20px;
color: white;


}

input{
border-radius: 5px;
}

.bott{

background-color:  #b3b6b7 ; /* Green */
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;

    border-radius: 10px;
}
.bott2{

background-color:  #b3b6b7 ; /* Green */
    
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;

    border-radius: 10px;
}
.bott3{

background-color: red ; /* Green */
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;

    border-radius: 10px;
}
.bott4{

background-color: green; /* Green */
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;

    border-radius: 10px;
}


.centrar{

padding-left: 450px;

}


.tab{

table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid  #1f3b6c;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;

    border-radius: 20px;
    background-color: grey;
  
  
  
 }


}
